.descrip{
    text-align: justify;
}

.indicacion{
    text-align: justify;
}


.bordes{
    border: 2px 2px;
    border-color: #0D6DFD;
}

.bordelef{
    border-right: 1px;
    border-color: #0D6DFD;
}

.borderight{
    border-left: 1px;
    border-color: #0D6DFD;
}

.borderup{
    border-top: 1px;
    border: #0D6DFD;
}

p{
    text-align: left;
    font-weight: bold;
}

.definiciones{
    text-align: justify;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-left: 25px;
}

.definiciones-text{
    text-align: justify;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
    color:#0D6DFD;
    text-transform: uppercase;
}

.definiciones2{
    text-align: justify;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.derecho{
    text-align: right;
}