.alert{
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}

.portada-alineacion{
    text-align: left;
}

.table{
    background-color: rgb(208, 208, 208);
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

td{
 color:black
}

.text-primary{
    text-align: center;
}

.text{
    text-align: center;
}

/* Ocultar el input de tipo file original */
.custom-file-input {
    border-radius: 8px;
    background-color: #0D6EFD;
    color: white;
}


.regresar{
    margin-left: 10%;
}

body{
    place-items: center;
}